// Typography Scale
.text-display {
  // H1 - Roboto flex 400 57/64 -0.25
  font-family: 'Roboto Flex', sans-serif !important;
  font-size: 5.7rem !important; // 57px
  line-height: 6.4rem !important; // 64px
  font-weight: 400 !important;
  letter-spacing: -0.25px !important;
}

.text-headline {
  // H2 - Roboto flex 600 45/52 0
  font-family: 'Roboto Flex', sans-serif !important;
  font-size: 4.5rem !important; // 45px
  line-height: 5.2rem !important; // 52px
  font-weight: 600 !important;
  letter-spacing: 0 !important;
}

.text-title {
  // H3 - Roboto flex 500 36/44 0
  font-family: 'Roboto Flex', sans-serif !important;
  font-size: 3.6rem !important; // 36px
  line-height: 4.4rem !important; // 44px
  font-weight: 500 !important;
  letter-spacing: 0 !important;
}

.text-subtitle {
  // H4 - Roboto flex 500 32/40 0
  font-family: 'Roboto Flex', sans-serif !important;
  font-size: 3.2rem !important; // 32px
  line-height: 4rem !important; // 40px
  font-weight: 500 !important;
  letter-spacing: 0 !important;
}

.text-large {
  // Tittle - Roboto flex 500 24/36 0
  font-family: 'Roboto Flex', sans-serif !important;
  font-size: 2.4rem !important; // 24px
  line-height: 3.6rem !important; // 36px
  font-weight: 500 !important;
  letter-spacing: 0 !important;
}

.text-medium {
  // Subtitle - Roboto flex 500 20/28 0
  font-family: 'Roboto Flex', sans-serif !important;
  font-size: 2rem !important; // 20px
  line-height: 2.8rem !important; // 28px
  font-weight: 500 !important;
  letter-spacing: 0 !important;
}

.button-large {
  // Button - Roboto flex 600 16/24 +0.15px
  font-family: 'Roboto Flex', sans-serif !important;
  font-size: 1.6rem !important; // 16px
  line-height: 2.4rem !important; // 24px
  font-weight: 600 !important;
  letter-spacing: 0.15px !important;
}

.button-small {
  // Button - Roboto flex 600 14/20 +0.1
  font-family: 'Roboto Flex', sans-serif !important;
  font-size: 1.4rem !important; // 14px
  line-height: 2rem !important; // 20px
  font-weight: 600 !important;
  letter-spacing: 0.1px !important;
}

.body-large {
  // Body Large - Roboto flex 400 16/24 +0.5
  font-family: 'Roboto Flex', sans-serif !important;
  font-size: 1.6rem !important; // 16px
  line-height: 2.4rem !important; // 24px
  font-weight: 400 !important;
  letter-spacing: 0.5px !important;
}

.body-medium {
  // Body Medium - Roboto flex 400 14/22 +0.25
  font-family: 'Roboto Flex', sans-serif !important;
  font-size: 1.4rem !important; // 14px
  line-height: 2.2rem !important; // 22px
  font-weight: 400 !important;
  letter-spacing: 0.25px !important;
}

.label {
  // Label - Roboto flex 400 12/10 +0.1
  font-family: 'Roboto Flex', sans-serif !important;
  font-size: 1.2rem !important; // 12px
  line-height: 1rem !important; // 10px
  font-weight: 400 !important;
  letter-spacing: 0.1px !important;
}

.note {
  // Note - Roboto flex 400 8/13 +0.5
  font-family: 'Roboto Flex', sans-serif !important;
  font-size: 0.8rem !important; // 8px
  line-height: 1.3rem !important; // 13px
  font-weight: 400 !important;
  letter-spacing: 0.5px !important;
}
