$primary: #3880ff;
$secondary: #3dc2ff;
$tertiary: #5260ff;
$success: #2dd36f;
$warning: #ffc409;
$danger: #eb445a;
$dark: #222428;
$medium: #92949c;
$light: #f4f5f8;

$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 32px; 