:root {
  --te-primary: #FDD5D1;
  --te-secondary: #282531;
  --te-tertiary: #5260ff;
  --te-success: #2dd36f;
  --te-warning: #ffc409;
  --te-danger: #eb445a;
  --te-dark: #222428;
  --te-medium: #92949c;
  --te-light: #FFFFFF;
  --te-black: #000000;

  --te-spacing-xs: 4px;
  --te-spacing-sm: 8px;
  --te-spacing-md: 16px;
  --te-spacing-lg: 24px;
  --te-spacing-xl: 32px;
}
