@import "tailwindcss";
@import "tailwindcss-primeui";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.app-dark, .app-dark *));

:root {
  font-size: 10px;
  --p-tooltip-max-width: min(96rem, 80vw) !important;
}

html, body {
  font-size: 10px !important;
}
